
<div id="create-soundbyte" class="create-soundbyte-container-container">
    <button id="close" type="button"  class="exit-button" {{on "click" this.close}}>X</button>
    <div class="create-soundbyte-container">
        <div><b>Create a New Soundbyte</b></div>
        <div id="sound-indicator" class="w-full"></div>
        <div class="create-soundbyte-between">
            <Tooltip id="playbackNewAudioBtn" {{on "click" this.playbackAudio}} class="bi bi-soundwave btn-icon subtle" style="font-size: 1.5em;" @placement="right" @title="playback" @type="button"></Tooltip>
            <Tooltip id="resetAudioBtn" {{on "click" this.resetRecorder}}  class="bi bi-trash btn-icon subtle" style="font-size: 1.5em;" @placement="left" @title="discard" @type="button"></Tooltip>
        </div>
        <div style="display: flex; justify-content: center;">
            <button id="recordBtn" class="{{if this.isRecording 'bi bi-pause-fill btn-icon subtle' 'bi bi-mic-fill btn-icon subtle'}}" style="font-size: 1.5em;" {{on "click" this.toggleRecording}}></button>
        </div>
        <div class="create-soundbyte-between">
            <input type="file" style="font-size: 0.5em; display: none;" id="file-upload" accept="audio/webm" onchange={{this.handleAudioFile}}/>
            <Tooltip {{on "click" this.triggerFileInput}} class="bi bi-upload btn-icon subtle" style="font-size: 1.5em;" @placement="right" @title="upload file" @type="button"></Tooltip>
            <Tooltip id="commitRecording" {{on "click" this.commitSoundbyte}} class="bi bi-cloud-upload-fill btn-icon subtle" style="font-size: 1.5em;" @placement="left" @title="save" @type="button"></Tooltip>
        </div>
    </div>
</div>