<div id="create-soundbyte" style="border-style: solid; margin: 1em; padding: 1em;">
    Create a new soundbyte
    <br>
    <button id="recordBtn" {{on "click" this.toggleRecording}}>
        {{#if this.isRecording}}
            ❚❚
        {{else}}
            ▶
        {{/if}}
    </button>

    <button id="playbackNewAudioBtn" {{on "click" this.playbackAudio}}>
        Playback
    </button>

    <button id="resetAudioBtn" {{on "click" this.resetRecorder}}>
        ↺
    </button>

    <button id="commitRecordingBtn" {{on "click" this.commitSoundbyte}}>
        Submit
    </button>

    <input type="file" accept="audio/webm" onchange={{this.handleFile}} />

</div>