<div id="create-soundbyte" class="create-soundbyte-container-container">
    <button id="close" type="button" class="exit-button" {{on "click" this.close}}>X</button>
    <div class="create-soundbyte-container">
        <div><b>Create a New Soundbyte</b></div>
        <div class="create-soundbyte-between">
            <button id="playbackNewAudioBtn" {{on "click" this.playbackAudio}} style="color: purple; background-color: white; border-style: none;" class="bi bi-soundwave"></button>
            <button id="resetAudioBtn" {{on "click" this.resetRecorder}} style="color: purple; background-color: white; border-style: none;" class="bi bi-trash"></button>
        </div>
        <div style="display: flex; justify-content: center;">
            <button id="recordBtn" type="button"  style="color: purple; background-color: white; border-style: none;" class="{{if this.isRecording 'bi bi-pause-fill' 'bi bi-play-fill'}}" {{on "click" this.toggleRecording}}></button>
        </div>
        <div class="create-soundbyte-between">
            <input type="file" style="font-size: 0.5em;" accept="audio/webm" onchange={{this.handleAudioFile}}/>
            <button id="commitRecording" {{on "click" this.commitSoundbyte}} style="color: purple; background-color: white; border-style: none;" class="bi bi-cloud-plus"></button>
        </div>
    </div>
</div>