<div id="create-soundbyte" class="container" {{scroll-to}}>
  <div class="create-soundbyte-container">
    <div style="display: flex; justify-content: center;">
      <button
        id="recordBtn"
        class="{{if
            this.isRecording
            'bi bi-pause-fill btn-icon subtle'
            'bi bi-mic-fill btn-icon subtle'
          }} mx-5 huge-icon"
        {{on "click" this.toggleRecording}}
      ></button>
      <Tooltip
        {{on "click" this.triggerFileInput}}
        class="mx-5 bi bi-upload btn-icon subtle huge-icon"
        @placement="right"
        @title="upload file"
        @type="button"
      />
      <input
        type="file"
        style="font-size: 0.5em; display: none;"
        id="file-upload"
        accept="audio/webm"
        onchange={{this.handleAudioFile}}
      />
    </div>
    <div id="sound-indicator" class="w-full border p-0 mb-4" style="line-height: 40px; min-height: 40px;"></div>
    <div class="d-flex justify-content-around">
      <Tooltip
        id="commitRecording"
        {{on "click" this.commitSoundbyte}}
        class="bi bi-cloud-upload-fill btn-icon subtle"
        style="font-size: 1.5em;"
        @placement="left"
        @title="save"
        @type="button"
      />
      <Tooltip
        id="playbackNewAudioBtn"
        {{on "click" this.playbackAudio}}
        class="bi bi-soundwave btn-icon subtle"
        style="font-size: 1.5em;"
        @placement="right"
        @title="playback"
        @type="button"
      />
      <Tooltip
        id="resetAudioBtn"
        {{on "click" this.resetRecorder}}
        class="bi bi-trash btn-icon subtle"
        style="font-size: 1.5em;"
        @placement="left"
        @title="discard"
        @type="button"
      />
    </div>
  </div>
</div>