<div id="create-soundbyte" style="border-style: solid; margin: 1em; padding: 1em;">

    <button id="close" {{on "click" this.close}}>X</button>
    <p>Create a New Soundbyte</p>

    {{#if this.started}}
        <button id="recordBtn" {{on "click" this.toggleRecording}}>
            {{#if this.isRecording}}
                ❚❚
            {{else}}
                ▶
            {{/if}}
        </button>
        <button id="playbackNewAudioBtn" {{on "click" this.playbackAudio}}>Playback</button>
        <button id="resetAudioBtn" {{on "click" this.resetRecorder}}>↺</button>
        <button id="commitRecording" {{on "click" this.commitSoundbyte}}>Submit</button>
        <input type="file" accept="audio/webm, audio/mp3" onchange={{this.handleFile}}/>   
    {{else}}
        <button id="start-create" {{on "click" this.start}}>+</button>
    {{/if}}
</div>