<nav class="navbar bg-transparent fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Soundbytes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <LinkTo @route="sounds" class="nav-link {{if (eq this.router.currentRouteName 'sounds') 'active'}}" aria-current="page">My Soundbytes</LinkTo>
          </li>
          {{#each this.projects as |project|}}
            <li class="nav-item">
              <LinkTo @route="sounds" class="nav-link {{if (eq this.router.currentRouteName 'sounds') 'active'}}" aria-current="page">{{project.name}}</LinkTo>
            </li>
          {{/each}}
          <form class="d-flex mt-3" {{on 'submit' this.createProject}}>
            <input type="text" class="form-control me-2" aria-label="Add new project" placeholder="New Project" name="project_name"/>
            <button class="btn btn-outline-success" type="submit">Add</button>
          </form>
        </ul>
      </div>
      <div class="offcanvas-footer">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item text-center">
            <LinkTo @route="archived" class="nav-link {{if (eq this.router.currentRouteName 'archived') 'active'}}" aria-current="page">Archived</LinkTo>
          </li>
          <li class="nav-item text-center">
            <button type="button" class="nav-link w-100" aria-current="page" {{on 'click' this.logout}}>Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>