<div class="card" ...attributes>
  <h5 class="card-header">
    {{@soundbyte.name}}
    <span class="align-middle fs-6 ms-3 text-secondary">
      ({{@soundbyte.timestamp}})
    </span>
    <div class="float-end">
      <div class="position-absolute bg-light px-3 py-1 border rounded mt-4 {{unless this.showMoreActions "visually-hidden"}}">
        <ul class="navbar-nav flex-grow-1 bg-light">
          <li class="nav-item border-bottom"><button type="button" name="delete-soundbyte" class="nav-link text-center w-100" {{on 'click' this.delete}}>Delete</button></li>
          <li class="nav-item"><button type="button" name="move-soundbyte" class="nav-link text-center w-100">Move</button></li>
        </ul>
      </div>
      <button type="button" class="btn btn-light m-0 p-0" {{on 'click' this.toggleMoreActions}} {{on 'focusout' this.closeMoreActions}}>
        <i class="m-0 p-0 bi bi-three-dots-vertical"></i>
      </button>
    </div>
  </h5>
  <div class="card-body container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div id="waveform-{{@soundbyte.id}}" {{did-insert this.initWaveSurfer}}></div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary rounded-circle" {{on 'click' this.skipBackward}}>&lt;&lt;</button>
          <button type="button" class="btn btn-primary rounded-pill mx-1" {{on 'click' this.togglePlayback}}>
            {{#if (eq this.status 'paused')}}
              Play
            {{else if (eq this.status 'playing')}}
              Pause
            {{else}}
              Restart
            {{/if}}
          </button>
          <button type="button" class="btn btn-primary rounded-circle" {{on 'click' this.skipForward}}>&gt;&gt;</button>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h5 class="card-title">Description</h5>
        <p class="card-text">{{@soundbyte.description}}</p>
      </div>
    </div>
  </div>
</div>