<div class="card" ...attributes>
  <div class="card-header">
    <div class="float-end">
      <div class="position-absolute bg-light px-3 py-1 border rounded mt-4 {{unless this.showMoreActions "visually-hidden"}}">
        <ul class="navbar-nav flex-grow-1 bg-light">
          <li class="nav-item border-bottom">
            <button type="button" name="delete-soundbyte"
              class="nav-link text-center w-100"
              {{on 'click' this.delete}}>Delete</button>
          </li>
          <li class="nav-item">
            <button type="button" name="move-soundbyte" class="nav-link text-center w-100">Move</button>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-light m-0 p-0"
        {{on 'click' this.toggleMoreActions}}
        {{on 'focusout' this.closeMoreActions}}>
        <i class="m-0 p-0 bi bi-three-dots-vertical"></i>
      </button>
    </div>
    <div>
      <h5 class="me-3 d-inline-block">
        {{#if this.editingName}}
          <form {{on 'submit' this.updateName}} class="d-inline-block" aria-label="Edit Name">
            <input type="text" name="soundbyteName" class="form-control" aria-label="Edit soundbyte name"
              placeholder={{unless this.name "New Soundbyte"}}
              value={{this.name}}
              {{autofocus}}
              {{on 'focusout' this.updateName}}
            />
          </form>
        {{else}}
          <button type="button" class="nav-link d-inline-block" {{on 'click' this.beginEditName}}>
            {{if this.name this.name "New Soundbyte"}}
            <i class="ms-1 bi bi-pencil-square"></i>
          </button>
        {{/if}}
      </h5>
      <h6 class="fs-6 text-secondary d-inline-block">
        ({{this.displayDate}})
      </h6>
    </div>
  </div>
  <div class="card-body container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div id="waveform-{{@soundbyte.id}}" {{did-insert this.initWaveSurfer}}></div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary rounded-circle" {{on 'click' this.skipBackward}}><i class="bi bi-rewind-fill"></i></button>
          <button type="button" class="btn btn-primary rounded-pill mx-1" {{on 'click' this.togglePlayback}}>
            {{#if (eq this.status 'paused')}}
              Play
            {{else if (eq this.status 'playing')}}
              Pause
            {{else}}
              Restart
            {{/if}}
          </button>
          <button type="button" class="btn btn-primary rounded-circle" {{on 'click' this.skipForward}}><i class="bi bi-fast-forward-fill"></i></button>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h5 class="card-title">
          <button type="button" class="nav-link d-inline-block" {{on 'click' this.beginEditDescription}}>
            Description
            <i class="ms-1 bi bi-pencil-square"></i>
          </button>
        </h5>
        {{#if this.editingDescription}}
          <form aria-label="Edit Description" {{on 'submit' this.updateDescription}}>
            <textarea class="form-control" aria-label="Description"{{autofocus}} name="soundbyteDescription"
              {{on 'focusout' this.updateDescription}}
              {{on 'keypress' this.updateDescription}}
              placeholder={{unless this.description "Soundbyte description"}}
            >{{if this.description this.description}}</textarea>
          </form>
        {{else}}
          <p class="card-text {{unless this.description 'text-body-secondary'}}">{{if this.description this.description "Soundbyte description"}}</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>