{{page-title "Sounds"}}
<Nav/>
<div class="header-container header-image bg-img-1">
  <h1 class="header-title display-1">My Soundbytes</h1>
  <h2 class="header-subtitle display-6">Listen and add sounds</h2>
  <div class="header-actions m-2">
      <button type="button" class="btn btn-primary m-3" onclick="location.href='#record'">Record Sound</button>
  </div>
</div>
<div id='record' style="display: flex; flex-direction: row; justify-content: center;">
  {{#if this.isCreateSoundbyteOpen}}
    <CreateSoundbyte @close={{this.closeCreateSoundbyte}}/>
  {{else}}
      <button type="button" class="btn btn-primary" style="background-color: purple; margin: 1em;" {{on "click" this.openCreateSoundbyte}}>Add Soundbyte</button>
  {{/if}}
</div>

{{#if (eq this.soundbytes.length 0)}}
  <div style="display:flex;justify-content:center;">
    <div class="empty-feed-msg">
      <h1>No Soundbytes</h1>
      <p>Feed is empty. Get started by by clicking the button above!</p>
    </div>
  </div>
{{/if}}

<div class="container">

  {{#each this.soundbytes as |soundbyte|}}
    <Soundbyte::Editable @soundbyte={{soundbyte}} class="my-3"/>
  {{/each}}
</div>