{{page-title "Splash"}}
{{#if this.auth.user}}
<Nav/>
{{/if}}
<div class="header-container header-image tall">
  <h1 class="header-title display-1">Soundbytes</h1>
  <h2 class="header-subtitle display-6">Remember every sound</h2>
  <div class="header-actions m-2">
    {{#if this.auth.user}}
      <button type="button" class="btn btn-primary m-3" {{on 'click' this.auth.sign_out}}>Logout</button>
    {{else}}
      <button type="button" class="btn btn-primary m-3" {{on 'click' this.login}}>Get Started</button>
    {{/if}}
  </div>
</div>
<div class="container">
    <p style="margin-top: 3em;">
      Welcome to SoundBytes! Leave yourself a voice note and organize 
      your soundbytes into project categories. Popular categories are things like
      jokes, melodies, notes, and quotes. SoundBytes also allows audio files to be appended
      at any point in a recording!
    </p>
    <Soundbyte::NonEditable @soundbyte={{@model.welcome}}></Soundbyte::NonEditable>
    <p style="margin-top: 3em;">
      Traditional notes apps don't preserve important
      features of jokes such as timing, pitch, and cadence. Record a soundbyte to
      level up your comedy skills!

    </p>
    <Soundbyte::NonEditable @soundbyte={{@model.joke}}></Soundbyte::NonEditable>
    <p style="margin-top: 3em;">
      Have you ever thought of a melody but forgot it before you can record it? SoundBytes is a 
      portable, simple, and fast way to save on-the-fly muscial ideas!
    </p>
    <Soundbyte::NonEditable @soundbyte={{@model.melody}}></Soundbyte::NonEditable>
</div>