{{page-title "Splash"}}
{{#if this.auth.user}}
<Nav/>
{{/if}}
<div class="header-container header-image tall">
  <h1 class="header-title display-1">Soundbytes</h1>
  <h2 class="header-subtitle display-6">Remember every sound</h2>
  <div class="header-actions m-2">
    {{#if this.auth.user}}
      <button type="button" class="btn btn-primary m-3" {{on 'click' this.auth.sign_out}}>Logout</button>
    {{else}}
      <button type="button" class="btn btn-primary m-3" {{on 'click' this.login}}>Get Started</button>
    {{/if}}
  </div>
</div>
<div class="container">
    <p style="margin-top: 3em; margin-bottom: 3em;">
      Welcome to SoundBytes! Leave yourself a voice note and organize 
      your soundbytes into project categories. Popular categories are things like
      jokes, melodies, notes, and quotes. SoundBytes also allows audio files to be appended
      at any point in a recording!
    </p>
    <Soundbyte::NonEditable @soundbyte={{@model.welcome}} class="my-3"></Soundbyte::NonEditable>
    <Soundbyte::NonEditable @soundbyte={{@model.joke}} class="my-3"></Soundbyte::NonEditable>
    <Soundbyte::NonEditable @soundbyte={{@model.melody}} class="my-3"></Soundbyte::NonEditable>
</div>